# Ignore specific directories
/implementation/.idea/
/implementation/build/
.gradle/
build/

# Include all Java classes and related files
!**/src/main/java/**/*.java

# If you want to include other file types such as XML or properties files, add them here
!**/src/main/java/**/*.xml
!**/src/main/java/**/*.properties

# Exclude any compiled Java files
**/*.class

# Exclude other common files that you might not want in the repo
**/target/
**/.DS_Store
**/dist/

